* {
  box-sizing: border-box;
}

html {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}

.menu {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.colorText {
  margin-bottom: -90px;
}

#colorInput {
  width: 100px;
  height: 50px;
}

.canvasText {
  margin-bottom: -100px;
}

.slider {
  width: 250px;
}

.erase {
  margin-top: -20px;
  width: 200px;
  height: 100px;
}

.newCanvas {
  width: 200px;
  height: 100px;
  margin-top: -20px;
  margin-bottom: 50px;
}

.canvasContainer {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 10px;
  margin-right: 200px;
  width: 95vh;
  height: 95vh;
  background-color: white;
  border: solid black;
  position: relative;
}
